.App {
  text-align: center;
  
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */


/* .App-partials {
  background-color: black;
  min-height: 10vh;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: black;
} */

.App-header {
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-body {
  background-color: white;
  min-height: 80vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}



.App-link {
  color: #61dafb;
}


.form-group2 {
  margin-bottom: 1rem;
  width: 80vh;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.tableFont {
  font-size: 16px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .App-partials {
    /* background-color: black; */
    /* min-height: 10vh; */
    /* max-width: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: calc(1px + 2vmin); */
    /* color: black; */
    
  }

}