.App {
  text-align: center;
  background-color: #f8f9fa;
}

.App-background-color {
  background-color: #f8f9fa;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.app-header {
  background-color: white;
  min-height: 30vh;
  width: 100%;
  margin: 64px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.app-body {
  background-color: white;
  margin: 32px auto 0;
}

.app-body-black {
  background-color: #f8f9fa;
  margin: 32px auto 0;
}

.faq-body {
  background-color: white;
  width: 100%;
  margin: 32px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.about-form{

}

.announcement-form {
  margin: 30px;
}


.service-form {
  margin: 10px;
  font-size: 20px;
}


.service-card-form {
  /* width: 18rem; */
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.table-font {
  font-size: 8px;
}


@media (prefers-reduced-motion: no-preference) {


  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}