
.scu-body-background-color {
    background-color:#f8f9fa;
    /* margin-top: 20px; */
    
  }

.scu-body {
    background-color: white;
    /* margin: 32px auto 0; */
    /* 세션 */
    width: 85%;
    text-align: left;
    padding: 5px 5px 0px 5px;
    
    
  }

  .scu-body-title {
    /* margin: 32px auto 0; */
    margin: 20px 50px 0px 0px;
  }
  .scu-form-button{
    margin: 20px 50px 20px 0px;
}
.scu-form-label{
    text-align: left;
    margin-left:5px;
    font-size: 20px;
}

.scu-form-label-text{
    text-align: left;
    margin-left:5px;
    font-size: 14px;
    
}

@media (min-width: 576px){
    .scu-form-label {
        margin-left:0;
        text-align: right;
    }

    .scu-form-label-text {
        margin-left:0;
        text-align: right;
    }
}